<p>
  <%= @greeting %></br>

  You recently listed <%= @item.title %> on freestuff.org. Please confirm by accessing the link below.

</p>

<p>
  <%= link_to "Confirm", confirm_posting_item_url(@item) %>
</p>