<div ng-controller="FormController">
  <form ng-submit="save()">
    <p>Title</p>
    <input type="text" ng-model="data.title" />
    <p>Description</p>
    <input type="textarea" ng-model="data.description" />
    <p>Location</p>
    <input type="text" ng-model="data.location" />
    <p>Expiry Date</p>
    <input type="date" ng-model="data.expiry_date" />
    <p>Email</p>
    <input type="email" ng-model="data.lister_email" />
    <p>Telephone</p>
    <input type="tel" ng-model="data.tel" />
    <p>Notify by SMS?</p>
    <input type="checkbox" value="sms_notify" ng-model="data.sms_notify" />
    <input type="submit" value="Submit" />
  </form>
</div>




