
<form ng-submit="save()" id="listing_form">
  <p>Title</p>
  <input type="text" ng-model="form.title" />
  <p>Description</p>
  <input type="textarea" ng-model="form.description" />

  <div ng-controller="LocationController">
    <p>Location</p>
    <select ng-model="form.location" name="locationChoice" ng-options="location.name for location in locations">
      <option value="">-- choose location --</option>
    </select><br/>
  </div>

  <p>Expiry Date</p>
  <input type="date" ng-model="form.expiry_date" />
  <p>Email</p>
  <input type="email" ng-model="form.lister_email" />
  <p>Telephone</p>
  <input type="tel" ng-model="form.tel" />
  <p>Notify by SMS?</p>
  <input type="checkbox" value="sms_notify" ng-model="form.sms_notify" />
  <input id="submitListing" type="submit" value="Submit" />
</form>
