<div class="modal fade" id="contactSeller" tabindex="-1" role="dialog" aria-labelledby="contactSellerLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" id="contactClose"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h2 class="modal-title" id="contactSellerLabel">Message Lister</h2>
        <h3>{{ contactItem }} - {{ contactLocation }}</h3>
      </div>
      <div class="modal-body">
        <div>
          <form ng-submit="contactLister()" ng-hide="contactConfirm" role="form">

            <div class="form-group">
              <label>Your email address</label>
              <p class="help-block">Your email address will be sent to the owner of the item.</p>
              <input class="form-control" type="email" placeholder="name@domain.com" ng-model="message.email" />
            </div>

            <div class="form-group">
              <label>Your telephone number</label>
              <p class="help-block">The owner will receive your phone number.</p>
              <input type="tel" placeholder="2239-1292" class="form-control" ng-model="message.tel">
             </div>

             <div class="form-group">
              <label>Your message</label>
              <p class="help-block">Write a message to the owner!</p>
              <input type="textarea" class="form-control" ng-model="message.message_description">
             </div>

            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
            <input class="btn btn-info" type="submit" value="Submit" />
          </form>
        </div>
        <div ng-show="contactConfirm">
          <h3>Thanks!</h3>
          <p>The owner of this item has been contacted. This window will close automatically.</p>
        </div>

      </div>
    </div>
  </div>
</div>