<p id="notice"><%= notice %></p>

<h1>Listing Items</h1>
<div id="dismiss" class="btn btn-danger" ng-click="dismissDropzone()" ng-show="selectedItemId">Dismiss</div>

<div class="file-upload" ng-show="selectedItemId">
  <form action="/media_contents" id="media-dropzone" class="dropzone" enctype="multipart/form-data">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
    <input name="item_id" type="hidden" value="{{ selectedItemId }}" />
    <div class="fallback">
      <input name="media" type="file" multiple />
    </div>
  </form>
</div>

<div>
  <select id="locationDropDown" ng-model="location">
    <option value=""></option>
    <option value="Wan Chai">Wan Chai</option>
    <option value="Central">Central</option>
    <option value="Causeway Bay">Causeway Bay</option>
    <option value="Stanley">Stanley</option>
    <option value="TST">Tsim Sha Tsui</option>
    <option value="Mong Kok">Mong Kok</option>
  </select>

  {{ location }}

<p>
  <button id="resetModal" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  List Item
</button>
</p>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Location</th>
      <th>Description</th>
      <th>Expiry date</th>
      <th>Image</th>
      <th>Action 1</th>
      <th>Contact Seller</th>
    </tr>
  </thead>
  <tbody id="items">
    <tr ng-repeat="item in itemList | filter:location">
      <td>{{ item.title }} </td>
      <td>{{ item.location }}</td>
      <td>{{ item.description }}</td>
      <td>{{ item.expiry_date }}</td>
      <td>
        <div>Images</div>
        <div ng-repeat="medium in item.media">
          <img class="list-image" ng-src="{{ medium.file_name.url }}" />
        </div>
      </td>
      <td><div class="btn btn-default" ng-click="showDropzone(item.id)">Upload Image</div></td>
      <td><div class="btn btn-default" type="button" data-toggle="modal" data-target="#contactSeller" ng-click="getContact(item)">Get This Item</div></td>
    </tr>
  </tbody>
</table>

<%= render 'create_item_modal' %>
<%= render 'contact_seller_modal' %>

</div>


