<p id="notice"><%= notice %></p>

<h1>Listing Items</h1>



<div ng-controller="ListController">
  <select id="locationDropDown" ng-model="location">
    <option value="  "></option>
    <option value="Wan Chai">Wan Chai</option>
    <option value="Central">Central</option>
    <option value="Causeway Bay">Causeway Bay</option>
    <option value="Stanley">Stanley</option>
    <option value="TST">Tsim Sha Tsui</option>
    <option value="Mong Kok">Mong Kok</option>
  </select>

  {{ location }}

  <table>

    <thead>
      <tr>
        <th>Title</th>
        <th>Location</th>
        <th>Description</th>
        <th>Expiry date</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody id="items" ng-repeat="item in items | filter:location">
      <tr>
        <td>{{ item.title }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.expiry_date }}</td>
        <td>{{ item.location }}</td>
      </tr>
    </tbody>

  </table>
</div>

<button id="resetModal" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  List Item
</button>

<%= render 'create_item_modal' %>

</div>


