
<div class="row" id="mainContentContainer">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div ng-repeat="item in itemList | filter:location">
            <div ng-repeat="medium in item.media">
              <div class="col-md-6">
                <div class="thumbnail" ng-click="updateCurrentItem(item)">
                  <img class="list-image" ng-src="{{ medium.file_name.url }}" />
                  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                      <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ item.id }}" aria-expanded="true" aria-controls="collapse{{ item.id }}">
                            {{ item.title }}
                          </a>
                        </h4>

                      </div>
                      <!-- <div id="collapse{{ item.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ item.id }}">
                        <div class="panel-body">
                          {{ item.description }} - in {{ item.location }}
                        </div>
                      </div> -->
                      <div id="remaining-time">In {{ item.location }} with {{ item.remaining_days }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Second half of page -->
      <div class="col-sm-6" id="itemDescriptionContainer">
        <div class="row">
        <div class="col-sm-8"><h2>{{ currentItem.title }}</h2></div>
        <div class="col-sm-4"> <span class="btn btn-default" type="button" data-toggle="modal" data-target="#contactSeller" ng-click="getContact(item)">Get This Item</span></div>
        </div>
        <div class="row">
        <div class="col-sm-12">
        <p><h3>Located in {{ currentItem.location }} and expires in {{currentItem.remaining_days}}</h3></p>
        <p>{{ currentItem.description }}</p>


        <img src="http://www.bitrepository.com/wp-content/uploads/2010/01/google-maps-jquery-plugin-multi-markers-example.jpg" id="mapImage">
        </div>
      </div>
    </div>
  </div>

<%= render 'create_item_modal' %>
<%= render 'contact_seller_modal' %>

</div>


