<div class="row" id="mainContentContainer">
  <div class="col-md-12" id="sub-main-content-container">

    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div ng-repeat="item in itemList | filter:location">
              <div class="col-md-6">
                <div class="thumbnail" ng-click="updateCurrentItem(item)" ng-mouseenter="visible=true" ng-mouseleave="visible=false">
                  <img class="list-image" ng-src="{{ item.media[0].file_name.url }}" />

                  <div ng-show="visible" class="thumbnail-description">
                    <h2>{{ item.title }}</h2>

                    <p>In {{ item.location }} with {{ item.remaining_days }}</p>
                    <div id="get-this-item-btn">
                      <button class="btn btn-default"  type="button" data-toggle="modal" data-target="#contactSeller" ng-click="getContact(item)">Get This Item</button>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Second half of page -->
    <div class="col-sm-6" id="itemDescriptionContainer">


      <div class="light inner-container-description" ng-hide="showItemDesc" id="hidden-div">
        <h1>Looking for something?</h1>
          <p>Feel free to click around and see what people are giving away in your area!</p>
          <p>Filter by location at the top.</p>
          <p>Scroll through the postings on the left.</p>
          <p>Click on the item for additional information</p>
          <p>Contact the lister through the message button</p>
          <p>Wait for the lister to reply and arrange for pick-up</p>
      </div>

      <div ng-show="showItemDesc">

        <div class="row" id="descriptionContainer">
          <div class="col-sm-9 text-left"><h1>{{ currentItem.title }}</h1></div>
            <div class="col-sm-3 text-left">
              <div class="btn btn-default" type="button" data-toggle="modal" data-target="#contactSeller" ng-click="getContact(item)">Get This Item</div>
          </div>
        </div>


        <div class="row">
          <div class="col-sm-12">
            <h3>Located in {{ currentItem.location }} with {{currentItem.remaining_days}}</h3>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            {{ currentItem.description }}
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <br><br>
            <div ng-repeat="medium in currentItem.media">
              <img class="description-image" ng-src="{{ medium.file_name.url }}" />
            </div>
        </div>

      </div>
    </div>
  </div>


<%= render 'create_item_modal' %>
<%= render 'contact_seller_modal' %>

</div>


