/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require dropzone/dropzone
 */

.modal{
overflow-y: auto;
}
.modal-open{
overflow:auto;
overflow-x:hidden;
padding-right: 0px !important;
}

#itemDescriptionContainer {
  position:fixed;
  top: 50px;
  right:0;
  /*margin-right: 30px;*/
  overflow-y:scroll;
  overflow-x:hidden;
  border-radius: 5px;
  display:block;
  /*width:100%;*/
  height: 100%;
  background-color: #f7f7f7;
}

#locationDropDown {
  margin: 5px 20px 5px 20px;
}

#mainContentContainer {
  margin-top: 30px;
}

#slogan {
  margin: 20% 0 20% 0;
}

#resetModal {
  float: right;
  margin-top: 9px;
}

body {
  font-family: 'Lato';
  margin-top: 50px;

}


h1 {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
}

h2 {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
}

h3 {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
}

.light {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 2.0em;
}

#projectname {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
}

.navbar {
  background-color: #96E4EB;
  border-color: #96E4EB;
  color: #1E1E1E;
}

.navbar-inverse .navbar-brand {
  color: #1E1E1E;
}

.navbar-inverse .navbar-nav>li>a {
  color: #1E1E1E;
}

#sub-main-content-container {
  margin-left: none;
}

#descriptionContainer {
  padding-top: 30px;
}

#confirmation {
  display: none;
}

label {
  font-style: bold;
  font-weight: 400;
  font-size: 1.5em;
}


#welcome {
  background-color: rgba(10,20,25,0.9);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  text-align: center;
  position: fixed;
  overflow: hidden;
}

#welcome button {
  margin-top: 50px;
  font-size: 4rem;
  padding
}

.welcome-message {
  color: white;
  margin-top: 100px;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.welcome-message h1 {
  font-size: 60px;
}

.welcome-message h2 {
  color: #96E4EB
}
.welcome-message p {
  font-size: 20px;
  margin-top: 20px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
}