// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#confirmation {
  display: none;
}

#descriptionContainer {
  margin: auto;
}

.description-image {
  width: 100%;
}

div.panel {
  // padding: 10px;
}

.expiry-date {
  float: right;
}

#get-this-item-btn {
  margin-top: 110px;
}

h1, .h1, h2, .h2, h3, .h3 {
margin-top: 0px;
margin-bottom: 10px;
}

.hidden-div {
  padding: none;
}

#image_upload {
  display: none;
}

.inner-container-description {
  padding-top: 30px;
  padding-left: none;
}

#inner-item-div {
  margin: 20px;
}

.list-image {
  position: absolute;
}

.mapImage {
  width: 500px;
}

.no-margin {
  padding: 0px;
}

.panel-default {
  border-color: white;
}

.panel-title {
  text-align: center;
}

#title-and-button.h2 {
  padding: none;
}

.thumbnail {
  position: relative;
  height: 240px;
  padding: 0px;
  overflow: hidden;
}

.thumbnail-description {
  text-align: center;
  height: 250px;
  width: 100%;
  position: absolute;
  padding-top: 13px;
  color: white;
  background-color: rgba(255,255,255,0.3);
}

