// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#confirmation {
  display: none;
}

#image_upload {
  display: none;
}

.expiry-date {
  float: right;
}

.list-image {
  margin: 5px 0px 5px 0px;
  max-width: 100%;
}

div.panel {
  padding: 10px;
}
