// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#confirmation {
  display: none;
}

#image_upload {
  display: none;
}

#inner-item-div {
  margin: 20px;
}

.expiry-date {
  float: right;
}

.list-image {
  height: 200px;
}

div.panel {
  // padding: 10px;
}

.mapImage {
  width: 500px;
}

h1, .h1, h2, .h2, h3, .h3 {
margin-top: 0px;
margin-bottom: 10px;
}

.hidden-div {
  padding: none;
}

.inner-container-description {
  padding-top: 30px;
  padding-left: none;
}

.panel-default {
  border-color: white;
}

.panel-title {
  text-align: center;
}


.thumbnail-description {
  text-align: center;
  height: auto;
  width: 100%;
  position: absolute;
  padding-top: 13px;
  color: white;
  background-color: rgba(255,255,255,0.3);
}


#title-and-button.h2 {
  padding: none;
}

.description-image {
  width: 100%;
}

.no-margin {
  padding: 0px;
}

.thumbnail {
  position: relative;
  height: 250px;
  padding: 0px;
}

.list-image {
  position: absolute;
}


#descriptionContainer {
  margin: auto;
}
// div.thumbnail-description {
//   background: rgba(0,0,0,0.5);
//   color: white;
//   cursor: pointer;
//   display: table;
//   height: 200px;
//   left: 0;
//   position: absolute;
//   top: 0;
//   width: 200px;
// }

// div.thumbnail-description h2 {
//   display: table-cell;
//   text-align: center;
//   vertical-align: middle;
// }

